@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.woff'), local('woff2'),
  url('./fonts/Montserrat-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-SemiBold.woff2'), local('woff2'),
  url('./fonts/Montserrat-SemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-ExtraBold.woff2'), local('woff2'),
  url('./fonts/Montserrat-ExtraBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Black.woff2'), local('woff2'),
  url('./fonts/Montserrat-Black.woff') format('woff');
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h1,h2, h3, p, ul {
  margin-top: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #333333;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.reset {
  list-style: none;
  text-decoration: none;
}

.btn--reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
.title {
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  margin-bottom: 20px;
}

/* header*/

.header {
  padding: 14px 0;
  box-shadow: -1px 7px 8px 0 rgba(34, 60, 80, 0.2);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.header__nav {
  margin-right: 73px;
}

.header__li:not(:last-child) {
  margin-right: 85px;
  text-decoration: none;
}

.header__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  transition: color 0.3s ease-in-out;
}

.header__btn  {
  display: block;
  background-color: transparent;
  color: #fff;
  border: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.search svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search svg rect {
  fill: #333;
  transition: fill 0.3s ease-in-out;
}

.search svg circle {
  stroke: #333;
  transition: stroke 0.3s ease-in-out;
}

/* main_content */

.content {
  display: flex;
  justify-content: center;
}

.content__container {
  padding: 102px 80px;
  padding-bottom: 98px;
  color: white;
  background: url('img/main_pic.jpg');
  background-size: cover;
}

.content__title {
  max-width: 850px;
  margin: 0;
  margin-bottom: 23px;
  font-weight: 800;
  font-size: 70px;
  line-height: 86px;
}

.content__text {
  margin: 0;
  margin-bottom: 90px;
  max-width: 850px;
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 0.35px;
  line-height: 29px;
}

.content__button {
  padding: 24px 36px;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  background-color: #FF9900;
  color: #FFFFFF;
  border:none;
}

/* about us */

.about_us {
  padding-top: 102px;
  padding-bottom: 42px;
}

.about_us__text {
  height: 192px;
  margin: 0;
  margin-bottom: 50px;
  max-width: 1235px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.about_us__block {
  display: flex;
  height: 622px;
}

.about_us___left {
  display: flex;
  align-items: flex-end;
  margin-right: 30px;
  width: 49%;
  background-image:  url("img/about_us_img_worker.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about_us__left_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 52px 50px 48px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.about_us___left_text {
  color: white;
  margin: 0;
  margin-right: 20px;
  max-width: 480px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}

.about_us__left_button {
  padding: 13px 32px;
  height: 60px;
  border: 4px solid #FF9900;
  color: white;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
}

.about_us__right_wrap {
  width: calc(100% - 49.2% - 30px);
}

.about_us__right_1 {
  padding-top: 65px;
  border: 1px solid #CACACA;
  margin-bottom: 32px;
  background: url('img/right_pic_block.png');
  background-repeat: no-repeat;
  background-position: left 65px top 60px;
}

.about_us__right_2 {
  padding-top: 65px;
  border: 1px solid #CACACA;
  background: url('img/right_pic_block2.png');
  background-repeat: no-repeat;
  background-position: left 65px top 60px;
}

.about_us__title_right {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  padding-left: 300px;
  margin-bottom: 8px;
}

.about_us__text_right {
  max-width: 83%;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  padding-left: 300px;
  padding-bottom: 65px;
  margin-bottom: 0;
}

































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































